// HEADER
header {
    background-color: #FFFFFF;
    padding: 15px 0;

    ul {
        gap: 2rem;

        li a {
            text-transform: uppercase;
            color: #484848;
            font-size: 0.8rem;
            font-weight: 700;
            padding-bottom: 37px;

            &:hover,
            &.active {
                color: #0282F9;
                border-bottom: 5px solid #0282F9;
            }

        }
    }
}

figure {
    height: 70px;
}