// HEADER
header {
    background-color: #FFFFFF;
    padding: 15px 0;

    ul {
        gap: 2rem;

        li a {
            text-transform: uppercase;
            color: #484848;
            font-size: 0.8rem;
            font-weight: 700;
            padding-bottom: 37px;

            &:hover,
            &.active {
                color: #0282F9;
                border-bottom: 5px solid #0282F9;
            }

        }
    }

    figure {
        width: 70px;
    }

    form {
        position: relative;

        input {
            border: none;
            border-bottom: 2px solid #0282F9;
            text-align: end;
            padding-right: 30px;
        }

        button {
            position: absolute;
            border: none;
            background-color: transparent;
            top: 3px;
            right: 5px
        }
    }
}