// Generics CSS

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-height: 100%;
}

// Reset CSS
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Utilities CSS

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flex-column {
    flex-direction: column;
}

.btn {
    color: white;
    background-color: #0282F9;
    font-weight: 600;
    border: 2px solid #0282F9;
}

.position-relative {
    position: relative
}

// BLUE SECTION CSS
a {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        display: block;
        max-width: 50px;
        max-height: 50px;
    }
}

// HEADER
header {
    background-color: #FFFFFF;
    height: 100px;
    line-height: 100px;

    ul {
        gap: 2rem;

        li a {
            text-transform: uppercase;
            color: #484848;
            padding: 37px 0;
            font-size: 0.8rem;
            font-weight: 700;

            &:hover,
            &.active {
                color: #0282F9;
                border-bottom: 5px solid #0282F9;
            }
        }
    }
}

figure {
    height: 70px;
}

// MAIN
main {
    padding-bottom: 2rem;
    background-color: #1C1C1C;
    color: white;

    .jumbotron {
        height: 400px;
        background-image: url("../assets/img/jumbotron.jpg");
        background-repeat: no-repeat;
        background-position: top;
    }
}

.btn-label {
    font-size: 2rem;
    padding: .5rem 2.5rem;
    position: absolute;
    left: -2rem;
    top: 0;
    translate: 0 -50%;
}

.btn-more {
    font-size: small;
    padding: 10px 50px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    padding: 3rem 0;

    .card {
        flex-basis: calc(100%/6);
        padding: 1rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .card-img {
            display: block;
            aspect-ratio: 1/1;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .card-text {
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
        }
    }
}

// FOOTER
footer {
    background-image: url('../assets/img/footer_images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white
}

#footer-top {
    background-image: url('../assets/img/logos/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 2rem 0;
    height: 400px;

    .row {
        display: flex;
        height: 100%;
        gap: 1rem;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: start;
    }
}

#footer-bottom {
    background-color: #303030;
    padding: 2rem 0;


}

.btn-signup {
    padding: 13px;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
}

#footer-bottom-nav-right ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .follow-btn {
        color: #0282F9;
        font-size: 1.4rem;
    }

}

// FOOTER MENU
h4 {
    text-transform: uppercase;
    font-size: larger;
}

ul {
    margin: 1rem 0;

    li a {
        font-family: 'Open Sans', sans-serif;
        color: #818181;
        text-transform: capitalize;
        font-size: small;
        line-height: 1.3rem;

        &:hover {
            color: white;
        }
    }

}

// FOOTER ICON
img:hover {
    filter: brightness(200%);
}